/* Feed Pagination */
.feedPaginationContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  margin: 10px auto;
  justify-content: space-between;
}

.feedPaginationContainer div {
  width: 48%;
}

.pageButton {
  padding: 0.5rem;
  border: 3px solid white;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 7px;
  color: white;
}

.pageButton:hover {
  background-color: white;
  color: var(--main-bg-color);
}

#page-back,
#page-forward {
  width: 100%;
}

#page-back {
  display: grid;
  justify-content: start;
}

#page-forward {
  display: grid;
  justify-content: end;
}
