/* loading message styling */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.loadingContent {
  position: fixed;
  display: grid;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
}


.loadingContent img {
  width: 100px;
  height: auto;
}

.feed-container{
  display: grid;
  grid-template-columns: repeat( 1, 1fr);
  grid-template-rows: 4;
}

.loadingHeader {
  color: white;
  width: 100%;
  text-align: center;
}

/* Desktop Media Queries */
@media only screen and (min-width: 450px) {

.feedList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
}

}
