/* Feed Naviagtion */
.feedNavContainer {
  display: grid;
  width: 95%;
  margin: 10px auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  color: var(--post-container-color)
}

.feedNavContainer h2 {
  padding: 1rem 0;
}

.feedNav-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
}

.feedNav-sort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
}

.feedNav-sort h4 {
  margin-left: 5px;
}

.button-link {
  padding: 0.3rem;
  font-size: 0.9rem;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0.3rem;
  background-color: var(--post-container-color);
}

.button-link:hover {
  background-color: var(--post-subinfo-bg);
  color: white;
  font-wwight: bold;
}
