/* Feed Pagination */
.feedPaginationContainer {
  display: flex;
  flex-basis: 45%;
  width: 95%;
  margin: 10px auto;
  justify-content: space-between;
}

.feedPaginationContainer div {
  width: 48%;
}
.feedPaginationContainer button {
  padding: 0.5rem;
  width: 100%;
  border: 2px solid blue;
  background-color: white;
  font-weight: bold;
  font-size:1.3rem;
  border-radius: 10px;
  color: blue;
}

.feedPaginationContainer button:hover {
  background-color: blue;
  color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.feedPaginationContainer button:disabled {
  color: gray;
  background-color: white;
  box-shadow: none;
}
