/* Modal styling */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.Modal-block {
  display: block;
}

.Modal-none {
  display: none;
}

.ModalContainer {
  position: fixed;
  width: 80%;
  height: auto;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.3);
}

.ModalTitle {
  padding: 1rem;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

.ModalMessage {
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid black;
}

.ModalMessage pre {
  font-family: inherit;
  font-size: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.ModalTitle button {
  background-color: white;
  border: 1px solid white;
}

.ModalClose {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.Modal-info {
  background-color:  #d5f5e3;
}

.ModalError {
  background-color:  red;
  color: white;
}


.ModalClose {
  width: 2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
}
