/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Open+Sans:wght@300&display=swap');

/* Default Settings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
}

/* Site Layout */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100vw;
  margin: 0 auto;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  box-shadow: 1px 1px 5px grey;
  border-bottom: 1px solid grey;
}

/* Branding */
.branding {
  text-align: center;
  font-family: Graduate;
  padding: 0.5rem;
}

.branding h1 {
  font-size: 2rem;
}

.brand-left{
  color: blue;
}

.brand-right{
  color: red;
}

/* Navigation */
.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.nav-container a{
  font-weight: bolder;
  text-decoration: none;
}

.nav-container a:hover{
  color: red;
}

/* Feed List */
.feed-container{
  display: grid;
  grid-template-columns: repeat( 1, 1fr);
  grid-template-rows: auto;
}

/* Feed Pagination */
.feedPaginationContainer {
  display: flex;
  flex-basis: 45%;
  width: 95%;
  margin: 10px auto;
  justify-content: space-between;
}

.feedPaginationContainer div {
  width: 48%;
}
.feedPaginationContainer button {
  padding: 0.5rem;
  width: 100%;
  border: 2px solid blue;
  background-color: white;
  font-weight: bold;
  font-size:1.3rem;
  border-radius: 10px;
  color: blue;
}

.feedPaginationContainer button:hover {
  background-color: blue;
  color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.feedPaginationContainer button:disabled {
  color: gray;
  background-color: white;
  box-shadow: none;
}

/* Feed Naviagtion */
.feedNavContainer {
  display: flex;
  width: 95%;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
}


/* SubReddit Information */
.subRedditInfo {
  width: 95%;
  margin: 10px auto;
}

/* Post Card */
.post-card {
  display: grid;
  width: 95%;
  margin: 1px auto;
  border: 1px solid #F1F3F4;
  border-radius: 7px;
}

.post-card div {
  padding: 0.5rem;
}

.post-preview-data {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
}

.post-info {
  display: flex;
}

.post-center-media {
  display: grid;
  justify-content: center;
  align-content: center;
}

.post-author,
.post-subreddit,
.post-comment-count {
  font-size: 0.8rem;
}

.button-link {
  padding: 0.2rem;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: blue;
}

/* Desktop Media Queries */
@media only screen and (min-width: 450px) {
  /* Layout */
  .container {

  }

  /* header */
  .header-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: space-between;
  }

  .nav-container {
    place-items: center;
  }

  .branding {
    text-align: left;
    padding: 1rem;
  }

}
