/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap');

/* Default Settings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Karla";

  /* site colors */
  --main-bg-color: #202746;
  --text-color: #;
  --post-container-color: #F7F8FC;
  --post-bg-color: #F2F2E3;
  --post-border-color: white;
  --post-title-color: #F78764;
  --post-data-bg: #F7F8FC;
  --post-data-border: #D4DAF2;
  --post-subinfo-bg: #D4DAF2;
}

body {
  background-color: var(--main-bg-color);
}

/* common styles */
.card {
  background-color: var(--post-data-bg);
  border: 3px solid var(--post-border-color);
  border-radius: 5px;
}

/* icon styles */
.icon {
  width: 20px;
  height: 20px;
}

.icon-double img {
  width: 4rem;
  height: 4rem;
}

.icon-double:hover {
  background-color: var(--main-bg-color);
}

.icon-container {
  border: 3px solid white;
  border-radius: 7px;
}

/* Site Layout */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100vw;
  margin: 0 auto;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1f4, 4fr, 1fr;
  background-color: var(--post-subinfo-bg);
  border: 3px solid var(--post-border-color);
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}

/* Branding */

.branding {
  font-family: "Karla";
  padding: 1rem;
}

.branding h1 {
  font-size: 2rem;
  color: var(--main-bg-color);
}

/* Desktop Media Queries */
@media only screen and (min-width: 450px) {
  /* Layout */
  .container {
    grid-template-rows: auto;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* header */
  .header-container {
    width: 100%;
    align-items: space-between;
  }

  .nav-container {
    place-items: center;
  }

  .branding {
    text-align: left;
    padding: 1rem;
  }

}
